// Used as a reference: https://css-tricks.com/fun-times-css-pixel-art/
$cell-size: 10px;

.dungeon {
  font-size: 8px;
  margin-left: auto;
  margin-right: auto;
}

.cell {
  width: $cell-size;
  height: $cell-size;
  float: left;
  box-shadow: 0 0 1px 1px grey;
}

.floor {
  background: white;
}

.floorX {
  background: black;
}

.player {
  background: green;
}

.wall {
  background: dimgray;
}

.treasure {
  background: gold;
}

.monster {
  background: orange;
}

.boss {
  background: red;
}

.ladder {
  background: blue;
}
